
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}
li {
    float: left;
}

li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a.active{
    background-color: #306caf;
    color:white;
}

li a:hover:not(.active) {
    background-color: #555;
}

table{
    width:80%;
    text-align:left;
}

table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:13px;
    color:#333333;
    border: 1px #666666;
    border-collapse: collapse;
}
table.gridtable th {
    padding: 8px;
    border: 1px solid #666666;
    background-color: #dedede;
}
table.gridtable td {
    padding: 8px;
    border: 1px solid #666666;
    background-color: #ffffff;
}


